$main-color: #c94714;


.location-title{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  position: relative;

  .image{
    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .location-title-text{
    padding: 16px;
    z-index: 1;
    position: relative;
  }

  .location-header h4{
    font-weight: 800;
    font-size: 12pt;
  }
}
