.user-view{
  display: flex;
  align-content: center;
  height: 42px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

  .user-view-wrapper{
    transition: 0.3s;
  }


  .user-bar{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
    padding: 0 16px;

    .user-title{
      text-transform: capitalize;;
      text-align: center;
      font-weight: 200;
    }
  }

  .user-bar-icon{
    width: 32px;
    height: 32px;
    font-size: 20px;
    text-align: center;
    color: black;
    text-shadow: none;

    line-height: 32px;
  }

  &.max-y{
    .user-bar{

    }
  }

  .view-content{
    transition: 0.3s;
  }

  &.min-y {
    .view-content{
      opacity: 0;
    }

    .user-bar{
      color: #000;
      opacity: 1;
      height: 32px;
    }

    .user-view-wrapper{
      background-color: transparent;
    }
  }
}
