@import 'view';
@import 'colors';
@import 'text';
@import 'layout';


.animate{
  transition: 0.3s;
  transition: opacity .5s ease-in;
}

.image-loading{
  opacity: 0;
}

.image-ready{
  opacity: 1;
}


.image-container{

  img{
    opacity: 0;
    transition: 0.3s;
  }

  &.image-ready{

    img{
      opacity: 1;
    }
  }
}
