@import 'view';
@import 'colors';
@import 'text';
@import 'layout';
@import 'grid';
@import 'images';

*{
  -webkit-tap-highlight-color: transparent;
}

.animate{
  transition: 0.3s;
  transition: opacity .5s ease-in;
}

.image-loading{
  opacity: 0;
}

.image-ready{
  opacity: 1;
}
