$main-color: #c94714;

$opac: 0.9;

.gradient-1-top{
  background: -moz-linear-gradient(top,  rgba(162,213,171,0) 0%, rgba(57,174,169,$opac) 100%);
  background: -webkit-linear-gradient(top,  rgba(162,213,171,0) 0%,rgba(57,174,169,$opac) 100%);
  background: linear-gradient(to bottom,  rgba(162,213,171,0) 0%,rgba(57,174,169,$opac) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2d5ab', endColorstr='#39aea9',GradientType=0 );
}

.gradient-1{
  // background: linear-gradient(to bottom,  rgba(162,213,171,1) 0%,rgba(57,174,169, 1) 33%,rgba(85,123,131, 1) 67%,rgba(91,81,81, 1) 100%);background: rgb(57,174,169);
  background: -moz-linear-gradient(top,  rgba(57,174,169,$opac) 0%, rgba(85,123,131,$opac) 50%, rgba(91,81,81,$opac) 100%);
  background: -webkit-linear-gradient(top,  rgba(57,174,169,$opac) 0%,rgba(85,123,131,$opac) 50%,rgba(91,81,81,$opac) 100%);
  background: linear-gradient(to bottom,  rgba(57,174,169,$opac) 0%,rgba(85,123,131,$opac) 50%,rgba(91,81,81,$opac) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39aea9', endColorstr='#5b5151',GradientType=0 );
}

.gradient-2-top{
  background: -moz-linear-gradient(top,  rgba(57,132,175,0) 0%, rgba(57,132,175,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(57,132,175,0) 0%,rgba(57,132,175,1) 100%);
  background: linear-gradient(to bottom,  rgba(57,132,175,0) 0%,rgba(57,132,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003984af', endColorstr='#3984af',GradientType=0 );
}

.gradient-2{
  background: rgb(57,132,175);
  background: -moz-linear-gradient(top,  rgba(57,132,175,1) 0%, rgba(85,104,131,1) 50%, rgba(91,85,81,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(57,132,175,1) 0%,rgba(85,104,131,1) 50%,rgba(91,85,81,1) 100%);
  background: linear-gradient(to bottom,  rgba(57,132,175,1) 0%,rgba(85,104,131,1) 50%,rgba(91,85,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3984af', endColorstr='#5b5551',GradientType=0 );
}
