.layout-column{
  display: flex;
  flex-direction: column;
}

.layout-row{
  display: flex;
  flex-direction: row;
}

.layout-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex{
  flex: 1;
}
