.column{
  padding-left: 8px;
  padding-right: 8px;
}

.column-2{
  padding-left: 16px;
  padding-right: 16px;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
}

[class*="layout-"]{
  display: flex;
}

.layout-column{
  flex-direction: column;
}

.layout-row{
  flex-direction: row;
}

.layout-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex{
  flex: 1;
}

.view-header{
  padding-top: 200px;
  width: 100%;
  // background-size: 100% 100%;
  //
  // transition: 0.3s;
  // transition-timing-function: ease-out;

  // background-image: url('../images/bg-header.png');
  //
  // &.bg-secondary{
  //   background-image: url('../images/bg-header-2.png');
  // }
}

.view-body{
  background-repeat: repeat-y;
  width: 100%;
  background-size: 100% auto;
  min-height: 500px;
  padding-bottom: 50px;


  &.bg-secondary{
    background-color: #557b83;
  }
}
