.text-center{
  text-align: center;
}

p,h1,h2,h3,h4{
  margin: 0.5rem 0;
}

body, html{
  font-family: 'helvetica neue';
  font-weight: 300;
  font-size: 11pt;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.icon-header{
  font-size: 100px;
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 60px;
  margin-bottom: 60px;

  i{
    color: #A93441;
  }
}
