$main-color: #c94714;

.product-list-item{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  color: white;

  .product-title{

  }

  h4.product-producer{
    font-weight: 200;
    font-size: 8pt;
  }

  h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    white-space: nowrap;
  }

}
.product-price-wrapper{
  padding-left: 16px;
}

.product-price{
  font-size: 1.2rem;
  font-weight: 600;
}

.product-unit{
  font-size: 0.8rem;
  text-align: right;
  text-transform: none;
}

.product-count{
  padding-right: 16px;

  span{
    font-weight: 800;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1.4rem;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    color: white;
  }
}
