.loading-bar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: 0.4s;
  transition-timing-function: ease-out;
  transition-property: opacity;
  overflow: hidden;
  opacity: 0;
  filter: blur(20px);

  &.loading{
    opacity: 1;
    height: 100%;
  }

  background-color: rgba(0,0,0,0.3);
}
