.location-image{
  position: relative;
  width: 100%;
  min-height: 300px;
  max-height: 100vh;

  .image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: cover;
  }
}
